$main-fonts: Arial, sans-serif;
$second-font: Arial, sans-serif;

$heading-color: blue;
$bg-color1: rgb(20, 3, 24);

$bg-color2: rgb(129, 201, 201);

$text-color: white;
$main-color: white;
$accent-color: rgb(185, 241, 72);

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

header {
  background-color: red;
}

//SCROLLBAR
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: yellowgreen;
}
body {
  background-color: $bg-color1;
}

//NAVIGATION/////////////////////////////////////////////////////////////////////////////////
nav {
  display: flex;
  background-color: $accent-color;
  position: fixed;
  width: 4rem;

  ul {
    list-style: none;
    flex-direction: column;

    height: 100vh;
    justify-content: flex-end;
  }
  li {
    padding-bottom: 2em;
    padding-top: 2em;
  }
}

.nav-item {
  width: 100%;
  margin-right: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
}

.nav-link:hover {
  background: $bg-color1;
  color: #e9ff24;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link i {
  margin: 0 1.5rem;
}
.navbar:hover {
  //CLOSE FOR RESPONSIVE CHECCKKK
}

.navbar:hover .link-text {
  //display the menu text when menu is extended
}

//HOME///////////////////////////////////////////

.home {
  position: absolute;
  top: 10%;
  left: 15%;
}

.home img {
  height: 350px;
  position: absolute;
  left: 90%;
}

.home h1 {
  font-size: 90px;
  font-family: $second-font;
  color: $main-color;
}

.home h2 {
  font-size: 65px;
  font-family: $second-font;
  color: $text-color;
}

// MEDIA QUERIEES ////////////////////////////////////////
@media (max-width: 1068px) {
  .home {
    position: absolute;
    top: 25%;
    left: 15%;
  }
  .home img {
    height: 150px;
    position: absolute;
    left: 60%;
  }

  .home h1 {
    font-size: 70px;
  }

  .home h2 {
    font-size: 45px;
  }
}

// ABOUT ///////////////////////////////////////////
.about {
  position: absolute;
  top: 10%;
  left: 15%;
}

.about h1 {
  color: $accent-color;
  font-family: $main-fonts;
  font-size: 100px;
}
.about h3 {
  color: $accent-color;
  font-family: $main-fonts;
  font-size: 30px;
}
.about p {
  font-size: 20px;
  font-family: $main-fonts;
}
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
  width: 50%;
  height: 30%;
  color: $text-color;
  font-family: $main-fonts;
}

.bio-image {
  grid-area: bioimage;
  margin: auto;
  width: 100%;
  height: auto;
  border: $text-color 3px solid;
}
.bio {
  grid-area: bio;
  font-size: 0.9rem;
}
.job-1 {
  grid-area: job1;
  font-size: 0.8rem;
}
.job-2 {
  grid-area: job2;
  font-size: 0.8rem;
}
.job-3 {
  grid-area: job3;
  font-size: 0.8rem;
}

//WORK//////////////////@
.work {
  position: absolute;
  left: 10vh;
  top: 10vh;
}

.work .heading,
.work .subheading {
  margin-bottom: 6px;
  font-size: 3rem;
  font-family: $main-fonts;
  color: $text-color;
  margin-left: 20%;
}
.work .subheading {
  font-size: 1.5rem;
  color: $accent-color;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects img {
  width: 50%;
  padding-left: 10%;
}

.btn {
  display: block;
  padding: 1rem 0.5rem;
  border: 0;
  text-decoration: none;
  font-family: $main-fonts;
  position: relative;
  margin-bottom: 0.3rem;
  text-align: center;
  width: 80%;
  color: black;
}

.btn:hover {
  background-color: #e4dcc2;
}

.dark {
  background: $accent-color;
}

.light {
  background: $main-color;
}

//CONTACT //////////////////////////

.contact {
  position: absolute;
  left: 50vh;
  top: 20vh;
}
.boxes {
  margin-top: 1rem;
  color: $text-color;
}

.boxes div {
  font-size: 2rem;
  border: 3px $accent-color solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
}
.contact h1,
.contact h2 {
  color: $text-color;
  font-size: 50px;
  font-family: $main-fonts;
}

@media (max-width: 840px) {
  //home
  .home {
    position: absolute;
    top: 25%;
    left: 15%;
  }
  .home img {
    height: 160px;
    position: absolute;
    left: 15%;
    top: 100%;
  }

  .home h1 {
    font-size: 70px;
  }

  .home h2 {
    font-size: 45px;
  }
  //work //////
  .btn {
    padding: 1rem 0.5rem;
    border: 0;
    position: relative;
    margin-bottom: 0.3rem;
    text-align: center;
    width: 80%;
  }
  .project_item {
    margin-bottom: 50px;
  }
  .work {
    position: absolute;
    left: 10vh;
    top: 5vh;
  }
}

@media (max-width: 630px) {
  .home {
    position: absolute;
    top: 20%;
    left: 25%;
  }
  .home img {
    height: 160px;
    position: absolute;
    left: 10%;
    top: 130%;
  }

  .home h1 {
    font-size: 60px;
  }

  .home h2 {
    font-size: 25px;
  }

  //about

  .about {
    position: absolute;
    top: 3%;
    left: 15%;
  }
  .about img {
    display: none;
  }

  .about h1 {
    font-size: 50px;
  }

  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
      "bio bio"
      "job1 job2 ";
    grid-template-columns: repeat(2, 1fr);
    width: 30%;
    height: 20%;
    color: $accent-color;
    font-family: $main-fonts;
  }
}
@media (max-width: 520px) {
  //home

  .home img {
    height: 200px;
    position: absolute;
    left: 10%;
    top: 130%;
  }

  .home h1 {
    font-size: 80px;
  }

  .home h2 {
    font-size: 30px;
  }

  //about
  .about {
    position: absolute;
    top: 3%;
    left: 25%;
  }
  .about img {
    display: none;
  }
  .about h1 {
    font-size: 50px;
  }

  //work //////
  .btn {
    padding: 1rem 0.5rem;
    border: 0;
    position: relative;
    margin-bottom: 0.3rem;
    text-align: center;
    width: 80%;
  }
  .work .heading,
  .subheading {
    font-size: 50px;
    margin: 0px;
  }
  .projects img {
    width: 60%;
  }
  .work {
    position: absolute;
    left: 8vh;
    top: 5vh;
  }

  //contact
  .contact {
    left: 8vh;
    top: 10vh;
  }
  .boxes div {
    font-size: 20px;
    width: 70%;
    margin-left: 3px;
  }
}

@media (max-width: 670px) {
  //home
  .home {
    position: absolute;
    top: 15%;
    left: 25%;
  }
  .home img {
    position: absolute;
    left: 5%;
    top: 100%;
    margin-top: 30%;
  }

  .home h1 {
    font-size: 50px;
  }

  .home h2 {
    font-size: 30px;
  }
  //about
  .about img {
    display: none;
  }

  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
      "bio bio"
      "job1 job2 ";
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    height: 30%;
    color: $accent-color;
    font-family: $main-fonts;
  }
}

@media (max-width: 420px) {
  //work //////
  .btn {
    padding: 0.8rem 0.5rem;
    border: 0;
    position: relative;
    margin-bottom: 0.3rem;
    text-align: center;
    width: 80%;
  }
  .projects img {
    width: 50%;
  }
  .work {
    position: absolute;
    left: 10vh;
    top: 5vh;
  }
}

@media (max-width: 1200px) {
  .contact {
    left: 20vh;
    top: 20vh;
  }
}

@media (max-width: 840px) {
  //contact
  .contact {
    left: 8vh;
    top: 20vh;
  }
}
